

<app-menu-title></app-menu-title>

<div class="container_articles">
  <div class="articles_main">
    <app-big-card 
      Id="1"
      photoCover="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
      cardTitle="Titulo do conteudo"
      cardDescription="Descrição do conteudo: Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni omnis sit dicta pariatur atque eveniet recusandae, voluptatem, earum sequi odio modi cum fugiat laborum consequatur ratione quaerat iste laboriosam explicabo.">
    </app-big-card>
    <app-big-card 
      photoCover="../../../../../assets/star.svg"
      cardTitle="Titulo do conteudo"
      cardDescription="Descrição do conteudo: Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni omnis sit dicta pariatur atque eveniet recusandae, voluptatem, earum sequi odio modi cum fugiat laborum consequatur ratione quaerat iste laboriosam explicabo.">
    </app-big-card>
  </div>
  <div class="articles_others">
    <app-small-card
      Id="2"
      cardTitle="Saiu a nova versão do Angular"
      photoCover="../../../assets/rocket.svg"
      >
    </app-small-card>
    <app-small-card
      Id="3"
      cardTitle="Saiu a nova versão do Angular"
      photoCover="../../../assets/rocketShip.svg"
      >
    </app-small-card>
    <app-small-card
      Id="4"
      cardTitle="Saiu a nova versão do Angular"
      photoCover="../../../assets/material.svg"
      >
    </app-small-card>
  </div>
</div>
